#---------------------------------------------------------------#
# corsairmi
#---------------------------------------------------------------#
# RM650i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c0a", MODE:="0660", GROUP="wheel"
# RM750i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c0b", MODE:="0660", GROUP="wheel"
# RM850i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c0c", MODE:="0660", GROUP="wheel"
# RM1000i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c0d", MODE:="0660", GROUP="wheel"
# HX650i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c04", MODE:="0660", GROUP="wheel"
# HX750i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c05", MODE:="0660", GROUP="wheel"
# HX850i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c06", MODE:="0660", GROUP="wheel"
# HX1000i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c07", MODE:="0660", GROUP="wheel"
# HX1200i
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c08", MODE:="0660", GROUP="wheel"